body {
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/e2/ba/78/e2ba781bff7159ee1537473a6baa45ce.jpg);
	background-size: auto;

}


h1 {
	color: red;
	text-align: center;
	background-color: blue;
	font-family: "Xirod";
	margin-left: 484px;
	margin-right: 387px;

}

button {
	margin: 15px;
	font-size: 20px;
}

form{
	float: right;
}	

label {
	color: white;
	font-weight: bold;
}

#nineties-input {
	padding: 15px;
	width: 200px;
	font-size: 25px;
}

#add-me {
	font-size: 25px;
}

.gif {
	cursor: pointer;
	float: right;
	position: relative;

}


p {
	font-family: "Xirod";
	color: red;
	background-color: blue; 
	font-size: 17px;
	font-weight: bold;
	float: right;
	padding: 10px;
}



















